*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.vim/

dist/
*.egg-info/

.DS_Store

.mypy_cache/

.python-version

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

build/
dynamodb_local_latest/

# Env files
.env

# pickle files
*.pkl

# venv
.venv

# json files
*.json

# GENIE data
analysis/genie/pre_variant_analysis/*.txt
analysis/genie/pre_variant_analysis/*.zip
analysis/genie/pre_variant_analysis/variation_normalizer_output/
analysis/genie/variant_analysis/variant_analysis_output

# html files
*.html

# CNVC analysis and output data
analysis/cnvs/cnv_data

# ClinVar
*output-variation_identity-vrs-1.3.ndjson.gz
