*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.vim/

dist/
*.egg-info/

.DS_Store

.mypy_cache/

.python-version

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

build/
dynamodb_local_latest/

# Env files
.env

# pickle files
*.pkl

# venv
.venv

# json files
*.json

# GENIE data (ignore all for now until issue-7 is merged)
analysis/genie/*

# html files
*.html

# CNVC analysis and output data
analysis/cnvs/cnv_data
