cool-seq-tool==0.14.2
variation-normalizer==0.14.2
civicpy==5.0.0
python-dotenv
ipykernel
jupyter
plotly
pandas
nbformat
requests
pre-commit
matplotlib
ga4gh.vrs==2.1.3
scipy
ndjson
numpy
kaleido
ruff==0.12.1
