variation-normalizer == 0.6.0.dev0
civicpy == 3.0.0
python-dotenv
ipykernel
jupyter
plotly
pandas
nbformat
requests
pre-commit
pathlib
numpy
matplotlib.pyplot
matplotlib.patches
matplotlib.lines
matplotlib.path
matplotlib.offsetbox
matplotlib.colors
typing
json
zipfile
ga4gh.core
scipy.special
